$darker-grey: rgb(133, 133, 133);
$light-grey: #eee;
$light-grey-hover: rgb(226, 225, 225);
$white: #fff;
$sage: rgb(200, 210, 186);
$dark-grey: #333;
$almost-black: rgb(27, 27, 27);
$red: red;
$black: black;
$shadow: rgba(0, 0, 0, 0.5);
